/* Jorge Saul Castillo Jaimes - 2111127 */
/* Grupo H1 */
/* Profesor: Henry */

/* Agregar fuentes locales */
@font-face {
    font-family: 'fuente_titulos';
    src: url('../fonts/LeagueSpartan-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fuente_frase';
    src: url('../fonts/KaushanScript-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fuente_texto_regular';
    src: url('../fonts/Quicksand-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fuente_texto_bold';
    src: url('../fonts/Quicksand-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fuente_texto_italic';
    src: url('../fonts/Quicksand-Italic.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fuente_texto_lightitalic';
    src: url('../fonts/Quicksand-LightItalic.otf');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: fuente_texto_regular;
    background-color: #ffffff !important;
    min-height: 50px;
    height: auto;
    font-size: 1.2em;
}

.cabecera{
    width: 100%;
    padding: 10px 15px;
    text-align: center;
}

.titulo{
    color: #09007d;
    font-family: fuente_titulos;
    font-size: 2em;
    transition: 0.5s;
}

.titulo:hover{
    color: #331bff;
    text-shadow: #ff0068 4px 4px 2px;
    transition: 0.5s;
}

.text_cabecera{
    font-size: 1.25em;
}

.botones{
    width: 80%;
    margin: 10px auto;
    text-align: center;
}

.boton{
    padding: 15px 15px;
    text-align: center;
    color: #ffffff;
    background-color: #070043;
    border-radius: 10px;
    width: 30%;
    min-width: 250px;
    margin: auto;
    font-family: fuente_texto_bold;
    font-size: 1.1em;
    box-shadow: 5px 5px 3px #aaaaaa;
    transition: 0.5s;
    cursor: pointer;
}

.boton:hover{
    color: #000000;
    background-color: #9c91fc;
    box-shadow: 5px 5px 3px #333333;
    transition: 0.5s;
}

.boton-graf{
    padding: 15px 15px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    width: 150px;
    margin: auto;
    font-family: fuente_texto_bold;
    font-size: 1.1em;
    box-shadow: 5px 5px 3px #aaaaaa;
    transition: 0.5s;
    cursor: pointer;
    margin-right: 10px;
}

.boton-graf:hover{
    color: #000000;
    box-shadow: 5px 5px 3px #666666;
    transition: 0.5s;
}

.boton-graf:active{
    color: #ffffff;
    background-color: #000000 !important;
    box-shadow: 5px 5px 3px #000000;
    transition: 0.5s;
}

#torta{
    background-color: #f05400;
    transition: 0.5s;
}

#torta:hover{
    background-color: #f8a273;
    transition: 0.5s;
}

#lineas{
    background-color: #00c000;
    transition: 0.5s;
}

#lineas:hover{
    background-color: #7af07a;
    transition: 0.5s;
}

#barras{
    background-color: #ec0093;
    transition: 0.5s;
}

#barras:hover{
    background-color: #f383c9;
    transition: 0.5s;
}

#graficar{
    margin: 0;
    background-color: #ff0000;
    transition: 0.5s;
    width: 80%;
}

#graficar:hover{
    background-color: #ff9090;
    transition: 0.5s;
}

.contenedor{
    margin: 0 auto;
    padding: 15px;
    width: 600px;
    background-color: #eeeeee;
    border-radius: 20px;
    display: none;
}

#calcGraficadora{
    width: 800px !important;
}

.basica {
    border: 2px solid #cccccc;
    border-radius: 10px;
    padding: 5px;
    width: 500px;
    margin: auto;
    background-color: #ffffff;
}

.basica .header {
    width: 100%;
}

.filaBotones {
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    padding: 0.5em;
}

.filaBotones div {
    width: 86px;
    padding: 10px 3px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    float: left;
    border: 2px solid #eeeeee;
    border-radius: 8px;
    transition: 0.5s;
}

.filaBotones div:hover {
    cursor: pointer;
    background-color: #cccccc;
    border: 2px solid #ffffff;
    transition: 0.3s;
}

.filaBotones div:active {
    background-color: #222222;
    color: #ffffffff;
    transition: 0.2s;
}

.basica-input{
    width: 460px;
}

input{
    font-family: fuente_texto_regular;
    font-size: 1.2em !important;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    text-align: right;
    color: #000000;
    word-break: break-all;
    outline: none;
}

input:focus{
    box-shadow: 0 0 7px #cc00cc;
    background-color: #9a9a9a;
    color: #ffffff;
    font-family: fuente_texto_bold;
}

input:hover{
    box-shadow: 0px 0px 10px #aeaecf;
}

input::placeholder{
    font-family: fuente_texto_lightitalic;
}

.inputs-graf{
    width: 100%;
}

.data-input, .labels-input{
    width: 90%;
    text-align: left !important;
}

.grafica-cell{
    width: 600px;
    height: 600px;
    border: 2px solid #cccccc;
    border-radius: 10px;
}

.grafica{
    width: 100%;
}

a.active{
    color: #ffffff;
    background: #1b9bff;
    transition: .5s;
}

a:hover{
    background: #1b9bff;
    transition: .5s;
}

a:link {
    color: unset !important;
    text-decoration: none;
}

.pie_pagina{
    width: 100%;
    height: 110px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #00153b;
    color: #ffffff;
    font-family: fuente_titulos;
    font-size: 0.8em;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap;
}

.encabezado{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to bottom, #0082e6, white);
}

table{
    width: 100%;
}

td{
    padding-top: 2px;
    padding-bottom: 2px;
}

.tabla_pie_pagina{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.celda_izquierda{
    width: 30%;
    text-align: left;
    padding-right: 10px;
    border-right-color: white;
    border-right-width: 3px;
    border-right-style: ridge;
}

.celda_centro{
    width: 40%;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
}

.celda_derecha{
    width: 40%;
    text-align: center;
    padding-left: 10px;
    border-left-color: white;
    border-left-width: 3px;
    border-left-style: ridge;
}

.celda_redes{
    position: relative;
    width: 16px;
    height: 16px;
    padding-top: 0;
    padding-bottom: 0;
}

img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.imgs_socialMedia{
    width: 16px;
    height: 16px;
    padding: 3px;
    margin: auto auto;
}

.imgs_socialMedia:hover{
    background: #1b9bff;
}

.div-contact{
    background-color: #e9e9e9;
    border-radius: 15px;
    padding: 10px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.div-contact-title{
    font-family: fuente_titulos;
    font-size: 2em;
    text-align: center;
    margin-top: 5px;
}

.formulario{
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

label{
    font-family: fuente_texto_bold;
}

.enviar_formulario{
    width: 95%;
    margin-left: 15px;
    margin-right: 15px;
}

.logo_encabezado{
    height: 60px;
    margin-left: 25px;
}

.name_encabezado{
    position: absolute;
    left: 110px;
    margin: auto;
    padding: 10px;
    font-family: fuente_frase;
    font-size: 2em;
}

.barra_navegacion{
    font-family: fuente_texto_bold;
}
